<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notifications</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>Notifications</h1>
  <div>
    <p>You have <span th:text="${count}">0</span> notifications.</p>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>#</th>
      <th>Notification</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notification, iterStat : ${notifications}">
      <td th:text="${iterStat.count}">1</td>
      <td th:text="${notification}">Notification</td>
    </tr>
    </tbody>
  </table>
  <a href="/user/dashboard" class="btn btn-primary">Back to Dashboard</a>
</div>
</body>
</html>